# WRIKE API CONFIG
WRIKE_API_KEY=your_wrike_api_key_here
WRIKE_BASE_URL=https://app-eu.wrike.com/api/v4
SPACE_ID=

# CORE ITEM TYPES (Permanent IDs)
WRIKE_CORE_TASK_TYPE_ID=
WRIKE_CORE_PROJECT_TYPE_ID=
WRIKE_PLANNED_EFFORT_FIELD_ID=
TODO_ID=
WRIKE_COMPLETED_STATUS_ID=

# FOLDER & PROJECT IDS
COREPROJ_EX_AKCELERATOR=
WRIKE_CLIENT_PROJECTS_FOLDER_ID=
PROJEKTY_WEWNETRZNE=
CP116=
CORETASK_EX_PANTOGRAF=

# MS365
KPI_MONITOR_SECRET=
TENANT_ID=
CLIENT_ID=
NAGLOWEK_ID=
POZYCJE_ID=
DOK_OPER_ID=

# LOGIN (Streamlit form)
KPI_USERNAME=admin
KPI_PASSWORD=your_password_here
